@use 'src/app/background' as bg;
@use 'src/app/typo' as typo;

.daySplit{
  display: flex;
  justify-content: center;
  padding: .5rem;
  & .text {
    border-radius: 1.5rem;
    background: #535bf2;
    padding: .5rem;
    font-size: typo.$small;
  }
}

.container {
  display: flex;
  flex-direction: row;
  padding: .25rem;

  &.isMy {
    flex-direction: row-reverse;
    & .message {
      & .user {
        flex-direction: row-reverse;
      }
    }
  }

  .message {
    padding: 0.5rem;
    background: bg.$primary;
    border-radius: .5rem;
    border: 1px solid gray;
    max-width: 480px;

    .text {
      color: typo.$primary;
      padding-top: .5rem;
      white-space: pre-wrap;
      word-wrap: break-word;
    }

    .date {
      color: typo.$secondary;
      text-align: right;
      font-size: typo.$small;
    }

    .user {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;

      .avatarContainer{
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        overflow: hidden;

        .avatar {
          width: 100%;
          height:  100%;
          opacity: 0;
          transition: opacity 300ms;

          &.ready {
            opacity: 1;
          }
        }
      }
    }

  }
}
