@use 'src/app/background' as bg;

.profile{
  display: flex;
  flex-direction: column;
  height: 100%;
  .wrap{
    display: flex;
    flex-direction: row-reverse;
    gap: .5rem;

    &.me{
      flex-direction: row;
    }

    .info{
      margin-top: 1rem;
      display: flex;
      flex-direction: column;
      gap: .5rem;

      &__item{
        display: flex;
        flex-direction: column;
        gap: .25rem;
      }
    }
  }
}
